intersections.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    targetNamespace="http://www.cvele.com/intersections/ws/Intersections"
                    xmlns:tns="http://www.cvele.com/intersections/ws/Intersections"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    name="IntersectionsWS">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.cvele.com/intersections/ws/Intersections" >
            <xsd:element name="Intersection">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int" />
                        <xsd:element name="symbol" type="xsd:int" />
                        <xsd:element name="title" type="xsd:string" />
                        <xsd:element name="xcoordinate" type="xsd:decimal" />
                        <xsd:element name="ycoordinate" type="xsd:decimal" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getIntersectionById" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getIntersectionByIdResponse" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Intersection" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createIntersection" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="intersection" type="tns:Intersection" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="createIntersectionResponse" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAllIntersections">
                <xsd:complexType>
                    <xsd:sequence />
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getAllIntersectionsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Intersection" minOccurs="0" maxOccurs="unbounded" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="getIntersectionByIdRequest">
        <wsdl:part name="parameter" element="tns:getIntersectionById"/>
    </wsdl:message>
    <wsdl:message name="getIntersectionByIdResponse" >
        <wsdl:part name="parameter" element="tns:getIntersectionByIdResponse" />
    </wsdl:message>
    <wsdl:message name="createIntersectionRequest">
        <wsdl:part name="parameter" element="tns:createIntersection" />
    </wsdl:message>
    <wsdl:message name="createIntersectionResponse" >
        <wsdl:part name="parameter" element="tns:createIntersectionResponse" />
    </wsdl:message>
    <wsdl:message name="getAllIntersectionsRequest">
        <wsdl:part name="parameter" element="tns:getAllIntersections" />
    </wsdl:message>
    <wsdl:message name="getAllIntersectionsResponse">
        <wsdl:part name="parameter" element="tns:getAllIntersectionsResponse" />
    </wsdl:message>
    
    <wsdl:portType name="IntersectionsWS" >
        <wsdl:operation name="getIntersectionById" >
            <wsdl:input message="tns:getIntersectionByIdRequest" />
            <wsdl:output message="tns:getIntersectionByIdResponse" />
        </wsdl:operation>
        <wsdl:operation name="createIntersection" >
            <wsdl:input message="tns:createIntersectionRequest" />
            <wsdl:output message="tns:createIntersectionResponse" />
        </wsdl:operation>
        <wsdl:operation name="getAll">
            <wsdl:input message="tns:getAllIntersectionsRequest" />
            <wsdl:output message="tns:getAllIntersectionsResponse" />
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="IntersectionsWSBinding" type="tns:IntersectionsWS" >
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getIntersectionById" >
            <!--<soap:operation soapAction="http://localhost:8080/order/getPizzaById" style="document" />-->
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createIntersection" >
            <!--<soap:operation soapAction="http://localhost:8080/order/createPizza" style="document" />-->
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAll">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="IntersectionsWSImpl" >
        <wsdl:port name="IntersectionsWSPort" binding="tns:IntersectionsWSBinding" >
            <soap:address location="http://localhost:8080/cxf/ws" />
        </wsdl:port>
    </wsdl:service>
    
</wsdl:definitions>
    
    